@import 'variables';
@import 'breakpoint';

.blogList {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}

.blogItem {
  width: 100%;
  @include responsive(sm) {
    width: calc(50% - 20px);
  }
  @include responsive(lg) {
    width: calc(33.3333% - 26.6666px);
  }
  @include responsive(xxl) {
    width: calc(25% - 30px);
  }
}

.blogItemImage {
  position: relative;
  padding-top: 56.25%;
}

.blogLink time {
  display: block;
  color: var(--gray-50);
  margin-top: 10px;
}

.blogTitle {
  font-size: $font-size-md;
  color: var(--gray-75);
  margin-top: 5px;
}