// font-size
$body-font-size: 16px !default; /* 16px */

$font-size-base: 16px !default; /* 14px-15px */

$font-size-xs: clamp(1.5rem, 1rem + 1vw, 2rem) !default; /* 24px-32px */
$font-size-sm: clamp(12px, 4px + .4vw, 14px) !default; /* 12px-14px */
$font-size-md: clamp(1rem, .875rem + .4vw, 1.25rem) !default; /* 16px-20px */
$font-size-lg: clamp(18px, 6px + 1.8vw, 24px) !default; /* 18px-24px */
$font-size-xl: clamp(18px, 6px + 1.6vw, 28px) !default; /* 24px-28px */
$font-size-xxl: clamp(24px, 10px + 2vw, 40px) !default; /* 24px-40px */
$font-size-xxxl: clamp(30px, 8px + 5.6vw, 64px) !default; /* 30px-64px */

:root {
  /* カラー（色） */
  --white: #ffffff;
  --gray-10: #eeeeee;
  --gray-25: #aaaaaa;
  --gray-50: #707070;
  --gray-75: #444444;
  --black: #222222;
  --accent: #0d87e0;

  /* タイポグラフィ（フォントサイズ） */
  --body: #{$body-font-size};
  --display: clamp(4.5rem, 1.83rem + 11.34vw, 10rem);
  --heading1: #{$font-size-xxxl};
  --heading2: #{$font-size-xxl};
  --heading3: #{$font-size-xl};
  --small-heading2: #{$font-size-lg};
  --small-heading3: #{$font-size-md};

  --space-xs: clamp(1.25rem, 1rem + 0.98vw, 1.875rem); /* 20-30px */
  --space-sm: calc(var(--space-xs) * 1.5); /* 30-45px */
  --space-md: calc(var(--space-xs) * 2); /* 40-60px */
  --space-lg: calc(var(--space-xs) * 3); /* 60-90px */
  --space-xl: calc(var(--space-xs) * 4); /* 80-120px */
  --space-jump: clamp(1.25rem, 0.35rem + 3.8vw, 3.75rem); /* 20-60px */
}

/* 基本設定 */
body {
  color: var(--black);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif;
  font-size: var(--body);
}

h1 {
  font-size: var(--heading1);
}

h2 {
  font-size: var(--heading2);
}

h3 {
  font-size: var(--heading3);
}

/* next/image */
span > img {
  transition: 0.2s;
}

/* リセット */
body,
h1,
h2,
h3,
p,
figure,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}
