@import 'variables';
@import 'breakpoint';

.heroMainvisual {
  width: 100%;
  height: 100svh;
}

.heroContainer {
  position: relative;
}

.heroText {
  padding: 80px 4vw;
}

.heroTitle {
  font-size: $font-size-xxxxl;
  line-height: 1;
}