@import 'breakpoint';

.newsItem {
  padding: 10px 0;
  border-bottom: 1px solid var(--gray-10);
}

.newsItem:first-of-type {
  border-top: 1px solid var(--gray-10);
}

.newsLink {
  display: block;
  font-weight: 700;
  color: var(--gray-75);
  padding: 10px;
  border-radius: 5px;
  line-height: 1.5;
  transition: .5s background-color ease-out;
  @include responsive(md) {
    display: flex;
    gap: 40px;
    padding: 20px;
  }
}

.newsLink time {
  display: block;
  color: var(--gray-50);
  margin-bottom: 10px;
  flex-shrink: 0;
  @include responsive(md) {
    margin-bottom: 0;
  }
}

.newsLink:hover {
  background-color: var(--gray-10);
}